{% extends 'layout.twig' %}

{% block titulo %}
    Olá
{% endblock %}
{% block conteudo %}
<h3>Olá {{ nome }}</h3>
    <a href="{{ path('link') }}">Clique Aqui</a> ( {{ url('link') }})<br>
    <a href="{{ path('link2', {nome: nome}) }}">Clique Aqui</a> ( {{ url('link2', {nome: nome}) }})
{% endblock %}